<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      <legend>Create a new message</legend>
      <input
        placeholder="Title"
        name="title"
        value="<%=message?.title%>"
      /><input
        placeholder="Message"
        name="content"
        value="<%=message?.content%>"
      />
      <button>OK</button>
    </form>
    <% if (errors && errors.length > 0) { %>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error?.msg %></li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
